<!-- <div class="site-container"> -->

<div id="start">
	<div #stickyHeader [class.sticky]="isSticky">
		<app-header [isSticky]="isSticky"></app-header>
	</div>
</div>



<div id="projects">
	<app-projects></app-projects>
</div>
<div id="about">
	<app-about></app-about>
</div>
<div id="contact">

</div>
	




<!-- <div class="flex-container">
		<div class="console-container">
			<app-console></app-console>
		</div> 
		<div class="content-container">
			<router-outlet></router-outlet>
		</div>
	</div>
	-->
<!-- </div>  -->
