<!-- <div class="site-container"> -->
<app-menu [isToggled]="isMenuToggled" (menuToggle)="toggleMenu()"></app-menu>

<div id="start">
	<div #stickyHeader [class.sticky]="isSticky" class="header-container">
		<app-header [isSticky]="isSticky" (menuToggle)="toggleMenu()"></app-header>
	</div>
</div>

<div id="projects">
	<a id="projects-anchor"></a>
	<app-projects></app-projects>
</div>

<div id="about">
	<a id="#about-anchor"></a>
	<app-about></app-about>
</div>

<div id="contact">
	<a id="#contact-anchor"></a>
	<p>Contact</p>
</div>
