@import '~src/scss/default-styles';

#start {
	min-height: 100vh;
}

#start, #projects, #about, #contact {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 100px;

	// @include iphone-se {
	// 	margin-bottom: 50px;
	// }

	// @include iphone {
	// 	margin-bottom: 50px;
	// }

	// @include iphone-plus {
	// 	margin-bottom: 50px;
	// }

	// @include ipad {
	// 	margin-bottom: 0px;
	// }
}

#start, #contact {
	margin-bottom: 0px;
}

#projects, #about {
	margin-bottom: 100px;
}

.header-container {
	width: 100%;
}

.sticky {
	position: fixed;
	top: 0;
	overflow: hidden;
	z-index: 10;
	width: 100%;
}

h1 {
	@extend %zero-margin-zero-padding;
	@extend %font-heavy;
	color: $text-base-color;
	font-size: 50px;
	text-transform: uppercase;

	.primary-color {
		color: $primary-color;
	}
}

:target {
	display: block;
	position: relative;
	top: -100px;
	visibility: hidden;
}

#footer {
	@extend %font-light;
	align-items: center;
	background-color: $background-color;
	color: $text-base-color;
	display: flex;
	font-size: 12px;
	height: 100px;
	justify-content: center;
	text-align: center;

	a {
		color: $primary-color;
	}

	// @include iphone-se {
	// 	font-size: 10px;
	// 	height: 50px;
	// }

	// @include iphone {
	// 	font-size: 12px;
	// 	height: 50px;
	// }

	// @include iphone-plus {
	// 	font-size: 14px;
	// 	height: 50px;
	// }
}
