<div id="start">
	<div #stickyHeader [class.sticky]="isSticky" class="header-container">
		<app-header [isSticky]="isSticky" (menuToggle)="toggleMenu()"></app-header>
	</div>
</div>

<div id="projects">
	<app-portfolio></app-portfolio>
</div>

<div id="about">
	<app-about></app-about>
</div>

<div id="contact">
	<app-contact></app-contact>
</div>

<div id="footer">
	Made with&nbsp;<img src="assets/icons/heart_icon.png" />&nbsp;by Henrik Forsberg. Icons from&nbsp;<a
		href="https://icons8.com" target="_blank">Icons8</a>
</div>