@import '~src/scss/default-styles';

// **** Component Variables **** //
$console-background-color: #0f0f0f;
$console-text-color: $text-base-color;
$console-font-size: 12px;
$shadow-color: #888888;

.console-container {
	@extend %zero-margin-zero-padding;
	padding: 0px 10px 0px 10px;
    background-color: $console-background-color;
	color: $console-text-color;;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	align-content: flex-start;
	overflow: scroll;

	.console-header {
		@extend %monaco-font;
		font-size: $console-font-size;
		text-align: center;
		width: 100%;
	}

	.console-status {
		@extend %monaco-font;
		font-size: $console-font-size;
		width: 100%;
	}

	.prompt-container {
		width: 100%;
	}

	.prompt-character {
		@extend %zero-margin-zero-padding;
		@extend %monaco-font;
		font-size: $console-font-size;
		height: 20px;
		line-height: 20px;
		margin-right: 5px;
	}

	.console-input {
		@extend %zero-margin-zero-padding;
		@extend %monaco-font;
		background-color: $console-background-color;
		color: $console-text-color;
		flex: 1;
		border: 0;
		caret-color: $console-text-color;
		height: 20px;
		width: 85%;
		font-size: $console-font-size;

		&:focus {
			outline: none;
		}
	}
	
	.console-output {
		@extend %zero-margin-zero-padding;
		@extend %monaco-font;
		background-color: $console-background-color;
		font-size: $console-font-size;

		> * {
			vertical-align: top;
		}
	}
}

