@import '~src/scss/default-styles';

.header-container {
	display: flex;
	align-items: center;
	background-color: $background-color;

	@include iphone-se {
		padding: 10px 5px 5px 5px;
	}

	@include iphone {
		padding: 10px 5px 5px 5px;
	}

	@include iphone-plus {
		padding: 10px 5px 5px 5px;
	}

	@include ipad {
		padding: 10px 5px 5px 5px;
	}

	h1 {
		@extend %zero-margin-zero-padding;
		@extend %avenir-font-heavy;
		color: $text-base-color;
		font-size: 50px;
		text-transform: uppercase;
		width: 100%;
		text-align: center;
	
		.primary-color {
			color: $primary-color;
		}

		a {
			text-decoration: none;
			color: $text-base-color;
		}

		@include iphone-se {
			font-size: 25px;
		}

		@include iphone {
			font-size: 30px;
		}

		@include iphone-plus {
			font-size: 35px;
		}
	}
	
	img {
		visibility: hidden;
		margin-left: 20px;
		cursor: pointer;
	
		&.sticky {
			visibility: visible;
		}
	}
}
