<div class="about-container">
	<h1 class="section-header">
		About<span class="primary-color">.</span>
	</h1>
	<img src="assets/icons/about_icon.png" class="about-icon" />
	<p class="paragraph">
		Developer with almost 5 years experience in the software development business. Most of that time has been spent
		on iOS development, which is also what I'm absolutely most passionate about.
	</p>
	<p class="paragraph">
		During my short career I've worked on several native iOS apps dealing with maps and user location, persisting
		data on device, branding multiple targets, localization and more.
	</p>
	<p class="paragraph">
		Science fiction enthusiast. Frequent runner, training to complete a marathon. Father of one. Husband. Cat
		person.
	</p>
</div>