<div class="about-container">
	<h1 class="section-header">
		About<span class="primary-color">.</span>
	</h1>
	<img src="assets/icons/about_icon.png" class="about-icon" />
	<!-- <div>
		<span class="about-text-header">Who is this guy<span class="primary-color">?</span></span><br>
	</div> -->
	<p class="paragraph">
		Developer with almost 5 years experience in the software development business. Most of that time has been spent on iOS development, which is also what I'm absolutely most passionate about.
		
		<!-- My name is Henrik Forsberg. I am {{age}} years old, and I live {{location}} with my wife and son. During my studies to become a programmer at Linköping University I fell in love with iOS development and the Apple ecosystem. At the time that meant coding in Objective-C. While still studying at the university and working weekends, I managed to get the opportunity to build my first iOS app. The job was to build an application that could help physiotherapists and masseurs keep track of their appointments and clients. Later, that same app helped me land my first job as an iOS developer. Since then I have accumulated about {{accumulatedXP}} years of experience in iOS development - in both Objective-C and Swift - and I have every intension on making that experience grow. 
When I'm not coding I divide my spare time between running and hanging out with family and friends. -->
	</p>
	<p class="paragraph">
		During my short career I've worked on several native iOS apps regarding maps and user location, persisting data on device, branding multiple targets, localization and more.
	</p>
	<p class="paragraph">
		Science fiction enthusiast. Frequent runner, training to complete a marathon. Father of one. Husband. Cat person.
	</p>
	<!-- <div>
		<span class="about-text-header">Why should I care<span class="primary-color">?</span></span><br>
	</div>
	<p class="about-text">
		I'll leave that entirely up to you. But if you're looking for an iOS developer who is dedicated to building maintainable and beautiful iOS apps, I just might be of interest to you.
	</p> -->
</div>