<div class="contact-container">
	<h1>Contact</h1>
	<img src="assets/contact_icon.png" class="contact-icon" />
	<p class="contact-text">
		Want to get in touch?<br>
		Let's connect! I am active on all of the following social media channels:
	</p>
	<div class="contact-links">
		<a href="https://twitter.com/readyruncode" target="_blank">
			<img src="assets/twitter_icon.png" class="contact-social-media-icons" />
		</a>
		<a href="https://github.com/readyruncode" target="_blank">
			<img src="assets/github_icon.png" class="contact-social-media-icons" />
		</a>
		<a href="https://www.linkedin.com/in/henrik-forsberg" target="_blank">
			<img src="assets/linkedin_icon.png" class="contact-social-media-icons" />
		</a>
		<a href="https://www.instagram.com/ready.run.code/" target="_blank">
			<img src="assets/instagram_icon.png" class="contact-social-media-icons" />
		</a>
	</div>
</div>