<div class="contact-container">
	<h1 class="section-header">
		Contact<span class="primary-color">.</span>
	</h1>
	<img src="assets/icons/contact_icon.png" class="contact-icon" />
	<p class="paragraph contact-text">
		Want to get in touch?<br>
		Let's connect! I am active on all of the following channels:
	</p>
	<div class="contact-links">
		<a href="https://twitter.com/readyruncode" target="_blank">
			<img src="assets/icons/twitter_icon.png" class="contact-social-media-icons" />
		</a>
		<a href="https://github.com/readyruncode" target="_blank">
			<img src="assets/icons/github_icon.png" class="contact-social-media-icons" />
		</a>
		<a href="https://www.linkedin.com/in/henrik-forsberg" target="_blank">
			<img src="assets/icons/linkedin_icon.png" class="contact-social-media-icons" />
		</a>
		<a href="https://www.instagram.com/readyruncode/" target="_blank">
			<img src="assets/icons/instagram_icon.png" class="contact-social-media-icons" />
		</a>
	</div>
</div>