<div class="portfolio-container">
	<h1 class="section-header">
		Portfolio<span class="primary-color">.</span>
	</h1>
	<img src="assets/icons/portfolio_icon.png" class="portfolio-icon" />
	<div class="portfolio-card-container">

		<div *ngFor="let project of projects; let last = last">
			<app-project-card [project]="project" [isLast]="last"></app-project-card>
		</div>

		<!-- <div class="portfolio-card-image-container">
			<img src="assets/ashes_wheels_screenshot.png" />
			
		</div>
		<div class="portfolio-card-content">
			<div class="portfolio-card-title">
				Ashes Wheels
			</div>
			<div class="portfolio-card-description">
				Ashes Wheels for iOS facilitates the process of completing orders for custom wheels from the company Ashes Wheels. I designed and built this app for a friend's company. It was mostly just for fun and to help him out a little, but also to finally have an app deployed in my own name on the App Store.
			</div>
			<div class="portfolio-card-app-store-badges">
				<a href="https://itunes.apple.com/se/app/ashes-wheels/id1448109460?mt=8">
					<img src="assets/app-store-badge-ios.svg" />
				</a>
			</div>
		</div> -->
	</div>
</div>

<!-- <img src="assets/ifiske/ifiske.png" /> -->
<!-- <img src="assets/parking.png" /> -->
<!-- <img src="assets/portfolio-site.png" /> -->