@import '~src/scss/default-styles';

.portfolio-container {
	text-align: center;
	max-width: $standard-max-width;
	margin: 0 auto;

	@include iphone-se {
		max-width: 85%;
	}

	@include iphone {
		max-width: 85%;
	}

	@include iphone-plus {
		max-width: 80%;
	}

	@include ipad {
		max-width: 85%;
	}

	@include ipad-pro {
		max-width: 85%;
	}

	.portfolio-icon {
		margin-top: 30px;
		margin-bottom: 50px;
	}

	.portfolio-card-container {
		display: flex;
		flex-flow: column;
	}
}
