<h1>Bio</h1>

<div class="timeline">
	<div class="container right">
		<div class="content">
			<span>2017</span>
			iOS and Frontend Developer at Teknomedia, Norrköping.
		</div>
	</div>
	<div class="container left">
		<div class="content">
			<span>2014 - 2017</span>
			iOS Developer at Knowit Experience, Linköping.
		</div>
	</div>
	<div class="container right">
		<div class="content">
			<span>2011 - 2014</span>
			Studies Innovative Programming at the Institute of Technology at Linköping University.
		</div>
	</div>
	<div class="container left">
		<div class="content">
			<span>1981 - 2011</span>
			Life pretty much outside of tech.
		</div>
	</div>
	<div class="container right">
		<div class="content">
			<span>1981</span>
			Little baby Forsberg is born.
		</div>
	</div>
</div>