@import '~src/scss/default-styles';

.projects-container {
	display: flex;
	flex-flow: row wrap;
	width: 100%;

	// .project-ul {
	// 	list-style-type: none;
	// 	padding-left: 0;
	
	// 	.project-li {
	// 		margin-bottom: 10px;
	// 	}
	// }
}

