@import '~src/scss/default-styles';

.project-card-container {
	display: flex;
	margin-bottom: 100px;

	&.no-bottom-margin {
		margin-bottom: 0px;
	}

	.portfolio-card-image-container {
		width: 35%;
		// text-align: right;
		padding-right: 60px;

		@include iphone-se {
			align-self: center;
			width: 80%;
		}

		@include iphone {
			align-self: center;
			width: 80%;
		}

		@include iphone-plus {
			width: 100%;
		}

		img {
			// width: 100%;
			max-height: 400px;
		}
	}

	.portfolio-card-content {
		width: 65%;
		// padding-left: 40px;

		@include iphone-se {
			padding-left: 0px;
		}

		@include iphone {
			padding-left: 0px;
		}

		@include iphone-plus {
			padding-left: 10px;
		}

		.portfolio-card-title {
			width: 100%;
			@extend %font-heavy;
			color: $primary-color;
			font-size: 50px;
			text-align: left;

			@include iphone-se {
				font-size: 18px;
			}

			@include iphone {
				font-size: 20px;
			}

			@include iphone-plus {
				font-size: 22px;
			}
		}

		.portfolio-card-description {
			width: 100%;
			text-align: left;

			.attribution-container {
				display: flex;
			}

			.role-header, .attribution-header, .downloads-header {
				@extend %font-heavy;
				margin-bottom: 10px;
				color: $primary-color;
			}

			.attribution-link {
				margin-right: 5px;
				font-size: 14px;
			}

			@include iphone-se {
				font-size: 12px;
				margin-top: 5px;
				margin-bottom: 20px;
			}

			@include iphone {
				font-size: 14px;
				margin-top: 5px;
				margin-bottom: 20px;
			}

			@include iphone-plus {
				font-size: 16px;
				margin-top: 5px;
				margin-bottom: 20px;
			}

			.technique-badge {
				background-color: $primary-color;
				color: black;
				padding: 1px 5px 0px 5px;
				margin-right: 10px;
				border-radius: 4px;
				text-transform: uppercase;
				text-align: center;
				display: inline-block;
				// margin-bottom: 5px;
				font-size: 12px;
				font-family: Arial, Helvetica, sans-serif;
			}
		}

		.portfolio-card-app-store-badges {
			width: 100%;
			display: flex;
			justify-content: flex-start;
			margin-top: 20px;

			.app-store-badge-container {
				display: flex;
				flex-flow: column;
				align-items: center;
				// margin: 0px 2px 0px 2px;
				margin-right: 10px;

				.badge-title {
					@extend %font-light;
					line-height: 25px;
					color: $text-base-color;
					font-size: 14px;
				}
			}
		}
	}
}
