@import '~src/scss/default-styles';

.project-card-container {
	@extend %avenir-font-light;
	background-color: #181818;
	border-radius: 4px;
	border: 1px solid #505050;
	// min-width: 500px;
	width: 300px;
	max-width: 300px;
	margin-right: 10px;
	margin-bottom: 10px;

	.project-card-content {
		display: flex;
		flex-flow: column;
		padding: 10px;

		.title {
			color: $text-base-color;
			// background-color: $green-color;
			// color: #202020;
			// border-top-left-radius: 4px;
			// border-top-right-radius: 4px;
			font-weight: bold;
			font-size: 30px;
			// padding-left: 10px;
			// padding-right: 10px;
		}

		.horisontal-divider {
			height: 2px;
			width: 30%;
			background-color: $primary-color;
			// margin-left: 10px;
			margin-top: 10px;
			margin-bottom: 10px;
		}

		.image {
			// background-color: #c0c0c0;
			// width: 200px;
			// height: 100px;
			// margin-left: 10px;
			// margin-right: 10px;
			// border: 1px solid #505050;
		}
		
		.description {
			width: 100%;
			// padding-left: 10px;
			// padding-right: 10px;
			color: $text-base-color;
			font-size: 14px;
		}
	}
}
