/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import 'mixins';

html, body {
	background-color: $background-color;
	height: 100%;
}

body {
	@extend %zero-margin-zero-padding;
}

.section-header {
	@extend %font-heavy;
	@extend %section-header;
	text-transform: uppercase;
	margin-top: 0px;

	.primary-color {
		@extend %primary-color;
	}

	@include ipad {
		font-size: 45px;
	}

	@include ipad-pro {
		font-size: 60px;
	}
}

.paragraph {
	@extend %font-light;
	line-height: 25px;
	color: $text-base-color;
	font-size: $main-body-size;
	text-align: left;

	@include iphone-se {
		font-size: 15px;
	}

	@include iphone {
		font-size: 16px;
	}

	@include ipad {
		font-size: 20px;
	}

	@include ipad-pro {
		line-height: 30px;
		font-size: 24px;
	}
}