/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import 'mixins';

html, body {
	background-color: $background-color;
	height: 100%;
}

body {
	@extend %zero-margin-zero-padding;

	h1 {
		color: $text-base-color;
		@extend %avenir-font-heavy;
	}
}