/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import 'mixins';

html, body {
	background-color: $background-color;
	height: 100%;
}

body {
	@extend %zero-margin-zero-padding;
}

.section-header {
	@extend %font-heavy;
	@extend %section-header;
	text-transform: uppercase;
	margin-top: 0px;

	.primary-color {
		@extend %primary-color;
	}

	// 	@include iphone-se {
	// 		font-size: 20px;
	// 	}

	// 	@include iphone {
	// 		font-size: 25px;
	// 	}

	// 	@include iphone-plus {
	// 		font-size: 30px;
	// 	}
}

.paragraph {
	@extend %font-light;
	line-height: 25px;
	color: $text-base-color;
	font-size: $main-body-size;
	text-align: left;
}