// @import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');
// @import url('https://fonts.googleapis.com/css?family=Rubik');

// @import url('https://fonts.googleapis.com/css?family=Roboto');
// @import url('https://fonts.googleapis.com/css?family=Montserrat:900');

// **** Fonts **** //
// %anonymous-font {
// 	font-family: 'Anonymous Pro', monospace;
// }

%font-heavy {
	// font-family: 'Avenir Heavy', sans-serif;
	// font-family: 'Montserrat', sans-serif;
	font-family: 'Georgia', serif;
	font-weight: bolder;
}

%font-light {
	// font-family: 'Avenir Light', sans-serif;
	// font-family: 'Roboto', sans-serif;
	font-family: 'Arial', sans-serif;
}

%monaco-font {
	font-family: 'Monaco', monospace;
}

%section-header {
	color: $text-base-color;

}

%primary-color {
	color: $primary-color;
}

// **** Margins, Paddings **** //
%zero-margin-zero-padding {
	margin: 0;
	padding: 0;
}

$iphone-se-width: 320px; // 320 - 568
$iphone-width: 375px; // 375 - 667
$iphone-plus-width: 414px; // 414 - 736
$ipad-width: 768px; // 768 - 1024 (834 - 1112)
$ipad-pro-width: 1024px; // 1024 - 1366
$desktop-s-width: 1307px; // 1307 - 1198
$desktop-m-width: 2160px; // 2160 - 2560
$desktop-l-width: 2560px; // 2560 - 1536

@mixin iphone-se {
	@media (min-width: 320px) and (max-width: 374px) {
		@content;
	}
}

@mixin iphone {
	@media (min-width: 375px) and (max-width: 413px) {
		@content;
	}
}

@mixin iphone-plus {
	@media (min-width: 414px) and (max-width: 767px) {
		@content;
	}
}

@mixin ipad {
	@media (min-width: 768px) and (max-width: 1023px) {
    	@content;
  	}
}

@mixin ipad-pro {
	@media (min-width: 1024px) and (max-width: 1306px) {
    	@content;
  	}
}

@mixin desktop {
  	@media (min-width: 1307px) {
    	@content;
  	}
}

// @mixin desktop-m {
// 	@media (min-width: 2160px) and (max-width: 2559px) {
// 	  @content;
// 	}
// }

// @mixin desktop-l {
// 	@media (min-width: 2560px) {
// 	  @content;
// 	}
// }