// Colors
$text-base-color: #c8c8c8;
$primary-color: #FF8100;
$background-color: #1A1A1A;

// Sizes
$main-body-size: 18px;
$standard-max-width: 60%; // 1000px;

// $red-color: #F44D56;
// $yellow-color: #F7C038;
// $green-color: #46D53F;

// $app-black-color: #0f0f0f;
// $debug-red-color: red;
// $debug-blue-color: blue;