@import '~src/scss/default-styles';

.menu-container {
	background-color: $background-color;
	border-right: 1px solid $text-base-color;
	color: $text-base-color;
	@extend %avenir-font-heavy;
	height: 100%;
	position: fixed;
	text-align: right;
	width: 250px;
	z-index: 20;
	left: -251px;
	transition: all 0.25s ease;

	.close-menu-button {
		margin: 20px 20px 0px 0px;
		cursor: pointer;
	}

	.menu-content {
		font-size: 25px;
		text-align: center;
		width: 100%;

		a {
			text-decoration: none;
			color: $text-base-color;
		}
	}

	&.slide-in {
		left: 0px;
	}

	.slide-out {

	}
}